
.wrapper{
	overflow: hidden;
}

*{
	padding: 0;
	margin: 0;

}
.head{
	background: url(img/bg.png);
	margin-bottom: 100px;
}

.header{
	background: #;
	width: 89%;
	top:0;
	z-index: 50;
	position: fixed;
	display: flex;
	justify-content: space-between;
	padding-bottom: 1%;

}
.header:before{
	background: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 10%;
	z-index:2;
}

.logo{
	margin-left: 8%;
	margin-top: 1.5%;
	transition: 1s;
	flex: 0 0 60px;
	z-index: 53
	
}
.logo img{
	max-width: 2000px;
	display: block;
}
nav{
	display: flex;
	margin-left: 0%;
	margin-top: 2.5%;
	margin-right: 19.5%;
	
	
}
.sp{
	color: #fff;
	list-style-type: none;
	display: inline-flex;
	position: relative;
	z-index: 2;
	


}
.sp a{
	text-decoration: none;
	color: #fff;
	transition: 1s;


}
.sp li{
		font-size: 18px;
		padding: 10px 37px 10px 37px;
		transition: 0.5s;
		color:#2f4b93;
		border-radius: 35px;
		border:1px solid #2f4b93;
}
.nad1{
	margin-right: 45px;
}
.nad2{
	margin-right: 45px;
}

.nad3{
	margin-right: 45px;
}

.nad4{
	margin-right: 45px;
}


.nad5{
	text-decoration: none;
	margin-left: 128px;
	margin-right: 260px;
}

.title{
	text-align: center;
}
.title h1{
	padding-top:100px;
	color: #fff;
	font-size: 60px;
	transition: 1s;
}
.title p{
	color: #8492af;
	font-size: 36px;
	margin-bottom: 90px;
	transition: 1s;
}
 
 .bt button{
 	display: block;
    margin: 30px auto 0;
    padding: 14px 42px;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    background-color: #5584ff;
    opacity: 0.6;
    transition: 0.4s
 }
 .bt button:hover{
 	opacity: 1;

 }
.noth{
	height: 580px;
	margin-bottom: -570px;
	
}
.ima{
	margin: 0 auto;	
	justify-content: center;
	align-items: center;
	display: flex;
	

}
.pho{
	padding-top: 15px;

}

.container{
	max-width: 1660px;
	position: relative;
	display: flex;

}
.container1{
	

}

.bod{
	margin: 0 auto;
	max-width: 1360px;
}
.cards__row{
	display: flex;
	margin: 0 -80px;



}
.column{	
	flex:0 1 33.33333%;
	display: flex;
	padding: 0 80px;
}
.column img{
	display: flex;
	margin:0 auto;
	margin-bottom: 60px;
}

.title__card{
	text-align: center;
	color:#595e6b;
	font-size: 24px;
	margin-bottom: 35px;
}


.subtitle__card{
	text-align: center;
	color:#a7b1c5;
	font-size: 18px;
	flex: 1 1 auto;
	margin-bottom: 77px;
	
}

.card{
	display: flex;
	flex-direction: column;
	
}

.card a {
	text-decoration: none;
	height: 50px;
	margin:0 50px;
	text-align: center;
	display: block;
    color: #8492af;
    padding: 0 35px;
    font-size: 18px;
    border-radius: 45px;
    border: 1px solid #e9ebf1;
    background-color: #fff;
    margin-bottom: 233px;
}
.s{
	margin-top: 15px;
}

.items{
	display: flex;
}

.zag1{

	margin-top: 108px;
	margin-left: 265px;
	font-size: 53px;
	color: #0e1a35;
	margin-bottom: 55px;
}
.par1{
	margin-left: 265px;
	margin-bottom: 40px;
	font-size: 18px;
	color: #8492af;
}
.par2{
	margin-left: 265px;
	font-size: 18px;
	color: #8492af;
	margin-bottom: 78px;
}
.bl1{
	display: flex;
	margin-left: 265px;
	margin-bottom: 45px;
	color: #5584ff;
}
.bl2{
	display: flex;
	margin-left: 265px;
	color: #5584ff;
}
.n2d{
	margin-left: 19px;
}
.input{
	margin-left: -65px;
	background: url(img/bg1.png);
}
.container5{
	max-width: 1640px;
}
._row{
	display: flex;
}
.zaga1{
	margin-top: 238px;
	margin-bottom: 60px;
	color: #fff;
	font-size: 60px;
}
.para1{
	color: #8492af;
	margin-bottom: 50px;
}
.para2{
	color: #8492af;
	margin-bottom: 30px;
}





































.container2{
	max-width: 100%;
}	






























.header_burger{
	display: none;
}



@media (max-width:1250px){
	nav{
		display: block;
		
	}
	.container1{
		width: auto;
		
	}
	.logo{
		
		
	}

	.header_burger{
		
		left: 30px;
		margin-top: 30px;
		display: block;
		position: relative;
		width: 30px;
		height: 50px;
		z-index: 3;
		
	}
	.header_burger:before{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: 0.3s;
	}
	.header_burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left:0;
		transition: 0.3s;
	}
	.header_burger span{
		background: #fff;
		position: absolute;
		left:0;
		width: 100%;
		height: 2px;
		top:15px;
		transition: 0.3s;

	
	}
	.header_burger:before{
		top:7px;
	}
	.head_burgher:after{
		bottom:5px;
	}
	.header_burger.active span{
		transform: scale(0);
	}
	.header_burger.active:after{
		transform: rotate(45deg);
		top:9px;
	}
	.header_burger.active:before{
		transform: rotate(-45deg);
		bottom:9px;
	}
	.header_menu{
		background: #;
		position: fixed;
		top: -140%;
		left: 0;
		width: 100%;
		height: 100%;
		transition: 0.3s;
		text-align: center;
	}
	.header_menu.active{
		top:50px;
		
		
	}
	.sp {
		justify-content: center;
		flex-direction: column;
	}
	.sp a{
		margin-top: 50px;
		margin-bottom: 30px;

	}
	.nad5{
		display: flex;
		justify-content: center;
		text-align: center;
		margin: 0 auto
	}
	
	.cards__row{
		flex-direction: column;
		
	}
	.column{
		margin-bottom: 50px;
	}
	.ima img{
	max-width: 100%;

	

}

@media (max-width:767px){
	.title h1{
		font-size: 30px;
	}
	.title p{
		font-size: 25px;
	}
	
	.ima img{
		max-width: 100%;
		
	}
	

}
