
.wrapper{
	overflow: hidden;
}

*{
	padding: 0;
	margin: 0;

}
.head{
	background: url(img/bg.png);
}
.header{
	display: flex;
	justify-content: space-between;
	padding-bottom: 11%;
}
.logo{
	margin-left: 8%;
	margin-top: 1.5%;
	transition: 1s;
}
nav{
	margin-top: 2.5%;
	margin-right: 9.5%;
	
}
.sp{
	color: #fff;
	list-style-type: none;
	display: inline-flex;


}
.sp a{
	text-decoration: none;
	color: #fff;
	transition: 1s;


}
.sp li{
		font-size: 18px;
}
.nad1{
	margin-right: 45px;
}
.nad2{
	margin-right: 45px;
}

.nad3{
	margin-right: 45px;
}

.nad4{
	margin-right: 45px;
}


.nad5{
	text-decoration: none;
	margin-left: 128px;
	margin-right: 228px;
}
.sp li:hover {
	padding: 10px 37px 10px 37px;
	transition: 0.5s;
	color:#2f4b93;
	border-radius: 35px;
	border:1px solid #2f4b93;
}
.title{
	text-align: center;
}
.title h1{
	color: #fff;
	font-size: 60px;
	transition: 1s;
}
.title p{
	color: #8492af;
	font-size: 36px;
	margin-bottom: 90px;
	transition: 1s;
}
 
 .bt button{
 	display: block;
    margin: 30px auto 0;
    padding: 14px 42px;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 60px;
    background-color: #5584ff;
    opacity: 0.6;
    transition: 0.4s
 }
 .bt button:hover{
 	opacity: 1;

 }
.noth{
	height: 580px;
	margin-bottom: -570px;
	
}
.img{
	display: flex;
	justify-content: center;
	flex: 1 1 882px;
}
.img img{
}
.container{
	max-width: 1660px;
}
.container1{
	max-width: 882px;
}

.bod{
	margin: 0 auto;
	max-width: 1360px;
}
.cards__row{
	display: flex;
	margin: 0 -80px;


}
.column{	
	flex:0 1 33.33333%;
	display: flex;
	padding: 0 80px;
}
.column img{
	display: flex;
	margin:0 auto;
	margin-bottom: 60px;
}

.title__card{
	text-align: center;
	color:#595e6b;
	font-size: 24px;
	margin-bottom: 35px;
}

.subtitle__card{
	text-align: center;
	color:#a7b1c5;
	font-size: 18px;
	flex: 1 1 auto;
	margin-bottom: 77px;
	
}

.card{
	display: flex;
	flex-direction: column;
	
}

.card a {
	text-decoration: none;
	height: 50px;
	margin:0 50px;
	line-height: 50px;
	text-align: center;
	display: block;
    color: #8492af;
    padding: 0 35px;
    font-size: 18px;
    border-radius: 45px;
    border: 1px solid #e9ebf1;
    background-color: #fff;
}
  	




















@media (max-width:1200px){
	.container{
		max-width: 970px;
	}	
	.container1{
		max-width: 970px;
	}
	.continer2{
		max-width: 970px;
	}
}

@media (max-width:992px){
	.container{
		max-width: 750px;
	}	
	.container1{
		max-width: 750px;
	}
	.continer2{
		max-width: 750px;
	}
	

}
@media (max-width:767px){
	.title h1{
		font-size: 30px;
	}
	.container{
		max-width: none;
	}	
	.container1{
		max-width: none;
	}
	.continer2{
		max-width: none;
	}
	

}
